.contact {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.contact__avatar {
  border-radius: 40px;
  grid-column: 1/2;
  grid-row: 1/3;
}

.contact__title {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  grid-column: 2/3;
}

.contact__info {
  display: flex;
  gap: 16px;
}

.contact__description {
  display: flex;
  gap: 16px;
  grid-column: 1/3;
}

.contact__sub-value {
  display: flex;
  gap: 16px;
  align-items: center;
}

.contact__sub-value:not(:last-child)::after {
  content: "";
  display: block;
  height: 4px;
  width: 4px;
  border-radius: 4px;
  background-color: #000;
}
